<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>

    <title>Markdown Preview</title>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/combine/npm/vue@2.6.11,npm/marked@0.8.0/marked.min.js,npm/superagent@5.2.2,npm/dompurify@2.0.8/dist/purify.min.js">
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/combing/gh/Sciencmine/mdpreview@1/style.min.css,gh/Sciencmine/mdpreview@1/v-cloak.min.css">
</head>

<body>
    <div id="app">
        <div id="control">
            <p>
                Markdown File URL:
                <input type="string" v-model="urlInput" />
                <button @click="loadMd">Load</button>
            </p>
            <p>
                <input type="checkbox" @click="showSource = !showSource, loadSource()" />
                Show Source
                <input type="checkbox" checked=true @click="shouldSanitize = !shouldSanitize, compile()" />
                Should Sanitize
            </p>
            <hr />
        </div>
        <div id="display" v-if="statusCode === 200" v-cloak>
            <div v-if="showSource && md.length > 0">
                <div v-html="md" id="source"></div>
                <hr />
            </div>
            <div v-if="compiled.length > 0">
                <div v-html="compiled"></div>
                <hr />
            </div>
        </div>
        <div id='credit'>
            Powered By:
            <a href="https://vuejs.org">Vue</a>
            <a href="https://marked.js.org">Marked</a>
            <a href="https://cure53.de/purify">DOMPurify</a>
            <a href="https://visionmedia.github.io/superagent/">Superagent</a>
            <a href="https://typora.io">Typora</a>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/Sciencmine/mdpreview@1/app.min.js"></script>
</body>

</html>