<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/gh/Sciencmine/mdpreview@master/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.jsdelivr.net/gh/Sciencmine/mdpreview@master/favicon-16x16.png">

    <title>Markdown Preview</title>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/combine/npm/vue@2.6.11,npm/marked@0.8.0/marked.min.js,npm/superagent@5.2.2,npm/dompurify@2.0.8/dist/purify.min.js">
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/combine/gh/Sciencmine/mdpreview@master/style.min.css,gh/Sciencmine/mdpreview@master/v-cloak.min.css">
</head>

<body onload="app.loadQuery()">
    <div id="app" v-cloak>
        <div id="control" v-if="options.showControl">
            <p>
                Language: 
                <select name="langs" @change="changeLang" v-model="langChoice">
                    <option v-for="lang in langs">{{lang.displayName}}</option>
                </select>
            </p>
            <p>
                Markdown File URL:
                <input type="string" v-model="urlInput" />
                <button @click="loadMd()">Load</button>
            </p>
            <p>
                <input type="checkbox" v-model="options.showSource" />
                Show Source
                <input type="checkbox" v-model="options.shouldSanitize" @click="compile()" />
                Should Sanitize
            </p>
            <hr />
        </div>
        <div id="display" v-if="statusCode === 200">
            <div v-if="options.showSource && source.length > 0">
                <div v-html='app.source.replace(/\n/g, "<br>")' id="source"></div>
                <hr />
            </div>
            <div v-if="compiled.length > 0">
                <div v-html="compiled"></div>
                <hr v-if="options.showCredit" />
            </div>
        </div>
        <div id="credit" v-if="options.showCredit">
            Powered By:
            <a href="https://vuejs.org">Vue</a>
            <a href="https://marked.js.org">Marked</a>
            <a href="https://cure53.de/purify">DOMPurify</a>
            <a href="https://visionmedia.github.io/superagent/">Superagent</a>
            <a href="https://typora.io">Typora</a>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/Sciencmine/mdpreview@master/app.min.js"></script>
</body>

</html>